.App {
  text-align: center;
  margin: 25px;
}
header {
  font-family: Apercu,Calibri,sans-serif;
  font-size: 20px;
  text-align: left;
  display: inline-block;
}
nav {
  margin-left: 500px;
  margin-top: -25px;
  display: inline-block;
}
nav li {
  display: inline;
  padding: 15px;
  font-family: Apercu,Calibri,sans-serif;
  font-size: 20px;
}
.jumbotron {
  margin-top: 200px;
  font-family: Apercu,Calibri,sans-serif;
  text-align: left;
  margin-left: 152px;
  position: absolute;
}
.j-title {
  font-size: 65px;

}
.text {
  font-size: 16px;
}
.button {
  display: inline-block;
}
.button-1 {
  box-shadow: 5px 5px 8px 4px #ccc;
  margin-right: 40px;
  width: 115px;
  height: 40px;
  border-radius: 5px;
  background-color: #55b4e3;
  font-size: 15px;
  color: white;
  margin-top: 0px;
  position: absolute;
}
.img1 {
  width: 100px;
  margin-bottom: 900px;
  margin-left: 400px;
  position: relative;
}
.img2 {
  width: 200px;
  margin-bottom: 400px;
}
.img3 {
  width: 350px;
  margin-bottom: 400px;
  margin-left: 150px;
}
.icon {
margin-left: 150px;
margin-bottom: 10px;
position: relative;


}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
