@import url(http://weloveiconfonts.com/api/?family=entypo);

.App {
  text-align: center;
  /* background-image: linear-gradient(180deg,#ffffff 0%,rgba(255,255,255,0.3) 100%),url(https://i.pinimg.com/originals/d8/2c/82/d82c82579f6c76f1a407f99aa6d49613.jpg) */

}
.myHeader {
  text-align: left;
  display: flex;
  width: 310px;
  position: absolute;
  margin-top: -15px;
  margin-left: 80px;
}
nav {
  margin-left: 785px;
  margin-top: 0px;
  display: flex;
  padding-bottom: 25px;
  padding-top: 10px;
}
nav li {
  display: inline;
  padding: 9px;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: #b98b77;
}
.jumbotron {
  margin: 100px -25px 0px -25px;
  font-family: Apercu,Calibri,sans-serif;
  text-align: center;
  /* margin-left: -25px; */
  /* position: absolute; */
  background-color: #faf9cd;
  padding-top: 45px;
  padding-bottom: 60px;
}
.j-title {
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  /* font-style: italic; */
  font-size: 46px;
  letter-spacing: 5px;
  /* font-weight: 500; */
  line-height: 1em;
  color: #b98b77;
  text-align: center;
}
.j-title2 {
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  letter-spacing: 5px;
  color: black;
  font-size: 22px;
  margin-top: -20px;
  padding-bottom: 30px;
}
.text {
  font-size: 16px;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  letter-spacing: .4px;
  color: black;
  padding-bottom: 5px;
}
.button {
  display: inline-block;
}
.button-1 {
  box-shadow: 9px 11px 19px -8px rgba(185,139,119,0.74);
  width: 110px;
  height: 37px;
  background-color: #bc6528;
  font-size: 15px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
.img1 {
  width: 100px;
  position: relative;
  left: 530px;
  bottom: 50px;
}
.img2 {
  width: 100px;
  position: relative;
  left: 560px
}
.img3 {
  width: 150px;
  position: relative;
  top: 192px;
  left: 310px;
}
.img4 {
  width: 60px;
  position: relative;
  bottom: 150px;
  left: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* sidebar social media navigation */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
a { 
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 20px 50px;
  background: white;
}
#sticky-social {
  left: 0;
  position: fixed;
  top: 160px;
}
#sticky-social a {
  background: #333;
  color: #fff;
  display: block;
  height: 35px;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  line-height: 35px;
  position: relative;
  text-align: center;
  width: 50px;
}
#sticky-social a span {
  line-height: 35px;
  left: -120px;
  position: absolute;
  text-align:center;
  width:120px;
}
#sticky-social a:hover span {
  left: 100%;
}
#sticky-social a[class*="github"],
#sticky-social a[class*="github"]:hover,
#sticky-social a[class*="github"] span { background: #bec4e5; }

#sticky-social a[class*="linkedin"],
#sticky-social a[class*="linkedin"]:hover,
#sticky-social a[class*="linkedin"] span { background: #bec4e5; }  

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span { background: #bec4e5; }  

#sticky-social a[class*="pinterest"],
#sticky-social a[class*="pinterest"]:hover,
#sticky-social a[class*="pinterest"] span { background: #bec4e5; }  

